Brewfile.lock.json
config/Code/
config/dconf/
config/enchant
config/evolution/
config/gedit
config/GitKraken/
config/gnome-session
config/goa-1.0/
config/gtk-3.0/
config/ibus/
config/libreoffice
config/nautilus
config/neofetch
config/pulse
config/update-notifier
config/*.py
config/*.py.1



config/.gsd-keyboard.settings-ported

config/gnome-initial-setup-done

config/monitors.xml

config/monitors.xml~

config/user-dirs.dirs

config/user-dirs.locale

zshrc.save
